.mainWrapper {
  background-color: var(--primary-color);
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoWrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--secondary-color);
}

.logo {
  width: 4rem;
}

.logo img {
  width: 100%;
}

.navWrapper {
  width: 100%;
  display: flex;flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navLink{
  font-size: 1.2rem;
  font-weight: 600;
}

.navLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 50%;
}

.navWrapper button{
  width: 150px;
}