.main {
  display: flex;
  text-align: justify;
}

.imgWrapper {
  height: 650px;
  width: 50%;
  overflow: hidden;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descr {
  padding: 1.5rem;
  width: 50%;
}

.descr p,
.descr h4,
.descr h3 {
  margin-bottom: 1rem;
}


@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    
  }
  .imgWrapper {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  .descr {
    padding: 1.5rem;
    width: 90%;
  }
}