.main {
  background-color: var(--secondary-color);
  padding: 1rem 0;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main {
    position:unset;
    font-size: 0.85rem;
  }
}
