.main {
  background-color: #c9f8ba;
  padding: 2rem;
  width: 400px;
  height: 200px;
  border:  2px solid rgb(132, 130, 130);
  border-radius: 1rem;
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.main button{
  height: 40px;
}

