:root {
  --primary-color: #ffffff;
  --secondary-color: #484848;
  --btn-color: #43b3e0;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100%;
  position: relative;
  
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
p,
button {
  margin: 0;
}
